#wgt-ft-85503 {
    background:#FFFFFF !important;
    color:#484848 !important;
    text-decoration:none !important;
    padding:4px 2px !important;
    margin:0 !important;
}
#wgt-ft-85503 * {
    font:10px Arial !important;
}#wgt-ft-85503 a {
    color:#484848 !important;
}#wgt-ft-85503 img {
    vertical-align:bottom !important;
    height:15px !important;
}